/*
 * Fonts used:
 *
 * Name: Roboto VF
 * Version: v3.004
 * Link: https://github.com/TypeNetwork/Roboto
*/

/* Font directory */
@font-directory: 'fonts/';

@font-face {
	font-display: swap;
	font-family: 'Merriweather Sans';
	font-style: normal;
	/* stylelint-disable font-weight-notation */
	font-weight: 400;
	/* stylelint-enable font-weight-notation */
	src: url( '@{font-directory}MerriweatherSans-Light.ttf' ) format( 'truetype' );
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather Sans';
	font-style: italic;
	/* stylelint-disable font-weight-notation */
	font-weight: 400;
	/* stylelint-enable font-weight-notation */
	src: url( '@{font-directory}MerriweatherSans-LightItalic.ttf' ) format( 'truetype' );
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather Sans';
	/* stylelint-disable font-weight-notation */
	font-weight: 700;
	/* stylelint-enable font-weight-notation */
	src: url( '@{font-directory}MerriweatherSans-Bold.ttf' ) format( 'truetype' );
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather Sans';
	font-style: italic;
	/* stylelint-disable font-weight-notation */
	font-weight: 700;
	/* stylelint-enable font-weight-notation */
	src: url( '@{font-directory}MerriweatherSans-BoldItalic.ttf' ) format( 'truetype' );
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: normal;
	/* stylelint-disable font-weight-notation */
	font-weight: 400;
	/* stylelint-enable font-weight-notation */
	src: url( '@{font-directory}Merriweather-Light.ttf' ) format( 'truetype' );
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: italic;
	/* stylelint-disable font-weight-notation */
	font-weight: 400;
	/* stylelint-enable font-weight-notation */
	src: url( '@{font-directory}Merriweather-LightItalic.ttf' ) format( 'truetype' );
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	/* stylelint-disable font-weight-notation */
	font-weight: 700;
	/* stylelint-enable font-weight-notation */
	src: url( '@{font-directory}Merriweather-Bold.ttf' ) format( 'truetype' );
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: italic;
	/* stylelint-disable font-weight-notation */
	font-weight: 700;
	/* stylelint-enable font-weight-notation */
	src: url( '@{font-directory}Merriweather-BoldItalic.ttf' ) format( 'truetype' );
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather Sans';
	font-style: normal;
	/* stylelint-disable font-weight-notation */
	font-weight: 500;
	/* stylelint-enable font-weight-notation */
	src: url( '@{font-directory}MerriweatherSans-Regular.ttf' ) format( 'truetype' );
}


@font-face {
	font-display: swap;
	font-family: 'Roboto Slab';
	font-style: normal;
	/* stylelint-disable font-weight-notation */
	font-weight: 700 900;
	/* stylelint-enable font-weight-notation */
	src: url( '@{font-directory}RobotoSlab-Bold.ttf' ) format( 'truetype' );
}

